<!DOCTYPE HTML>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <style>
      ul { list-style-type: none; }
      li { margin: 5px 0; }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% 
        for (let item of items) {
      %>
      <li>
        <a href="<%= item.url %>"><%= item.name %></a>
      </li>
      <%
        }
      %>
    </ul>
  </body>
</html>