<!DOCTYPE HTML>
<html>
  <head>
    <title>LveJS Information</title>
    <meta charset="utf-8">
    <style>dd { margin-bottom: 20px; }</style>
  </head>
  <body>
    <article>
      <h1>LveJS Information</h1>
      <dl>
        <dt>Sample</dt>
        <dd>
          <a href="sample">sample</a>
        </dd>
        <dt>DOCS</dt>
        <dd>
            <a href="docs">API DOCS</a>
        </dd>
        <dt>Github</dt>
        <dd>
          <a href="https://github.com/izure1/LveJS3" target="_blank">https://github.com/izure1/LveJS3</a>
        </dd>
        <dt>NPM</dt>
        <dd>
          <a href="https://www.npmjs.com/package/lve" target="_blank">https://www.npmjs.com/package/lve</a>
        </dd>
      </dl>
    </article>
  </body>
</html>