<!DOCTYPE HTML>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <style>
      dd { margin-bottom: 20px; }
      code { display: inline-block; border-radius: 3px; background-color: #ddd; padding: 2px 5px; }
      pre > code { padding: 10px; }
      hr { height: 1px; border: none; background-color: #ccc; }
    </style>
  </head>
  <body>
    <article>
      <%- article %>
    </article>
  </body>
</html>