<!DOCTYPE HTML>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="/css/common.css">
  <meta charset="utf-8">
  <script type="text/javascript" src="/LveJS.js"></script>
</head>

<body>
  <div>
    <canvas id="test" width="800" height="450"></canvas>
  </div>
  <script type="text/javascript">
    function getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min
    }
  </script>
  <script type="text/javascript">
    const lve = new LveJS

    lve.init({
      canvas: '#test',
      defaultCamera: null
    })

    lve('camera').create({
      type: 'camera'
    }).css({
      bottom: 200
    }).use()

    lve.createCollider('block', 'square')
    lve.createCollider('square')

    lve('ground').create({
      type: 'square'
    }).attr('physics', 'static').css({
      width: 1000,
      height: 100,
      color: '#ddd',
      verticalAlign: 'bottom'
    }).addClass('block')


  </script>
  <script type="text/javascript">

    test.addEventListener('click', e => {

      let w, h, t
      let r, g, b
      let sty

      w = getRandomInt(30, 50)
      h = getRandomInt(30, 50)
      t = getRandomInt(0, 360)
      r = getRandomInt(0, 255)
      g = getRandomInt(0, 255)
      b = getRandomInt(0, 255)

      let f = lve.getMouseCoords(e)

      sty = lve.calc(f.x, f.y, 100, {
        width: w,
        height: h,
        rotate: t,
        color: `rgb(${r}, ${g}, ${b})`
      })

      lve('square_' + performance.now()).create({
        type: 'square'
      }).attr('physics', 'dynamic').css(sty).addClass('square')

    })

  </script>
</body>

</html>