<!DOCTYPE HTML>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="/css/common.css">
  <meta charset="utf-8">
  <script type="text/javascript" src="/LveJS.js"></script>
</head>

<body>
  <canvas id="test" width="800" height="450"></canvas>
  <script type="text/javascript">
  
    const lve = new LveJS

    setTimeout(() => {
      lve.init({
      canvas: '#test'
    })
    }, 3000)
    


  </script>
</body>

</html>