<!DOCTYPE HTML>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="/css/common.css">
  <meta charset="utf-8">
  <script type="text/javascript" src="/LveJS.js"></script>
</head>

<body>
  <canvas id="test" width="800" height="450"></canvas>
  <div>
    <button onclick="lve('sprite').sprite('name', 'coin-right').play()">Play</button>
    <button onclick="lve('sprite').pause()">Pause</button>
    <button onclick="lve('sprite').sprite('name', 'coin-reverse').play()">Reverse play</button>
  </div>
  <script type="text/javascript">
    const lve = new LveJS

    lve.init({
      canvas: '#test'
    }).loadAsset('/image/sprite.png').ready(() => {

      lve.createSprite('coin-right', '/image/sprite.png', {
        start: 0,
        end: 9,
        frame: 10,
        fps: 12
      })

      lve.createSprite('coin-reverse', '/image/sprite.png', {
        start: 9,
        end: 0,
        frame: 10,
        fps: 12
      })

      lve('sprite').create({
        type: 'sprite',
        src: '/image/sprite.png'
      }).sprite('name', 'coin-right')

    })
  </script>
</body>

</html>