<!DOCTYPE HTML>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="/css/common.css">
  <meta charset="utf-8">
  <script type="text/javascript" src="/LveJS.js"></script>
</head>

<body>
  <div>
    <canvas id="test" width="1200" height="550"></canvas>
  </div>
  <script type="text/javascript">
    function getRandomInt(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min
    }
  </script>
  <script type="text/javascript">
    const lve = new LveJS

    lve.createCollider('wall', 'square')
    lve.createCollider('wall', 'particle')

    lve.init({
      canvas: '#test'
    }).loadAsset('/image/flame.png').ready(() => {

      lve('camera').css('bottom', 225)

      lve('ground').create({
        type: 'square'
      }).attr('physics', 'static').css({
        width: 1000,
        height: 50,
        color: '#ddd',
        verticalAlign: 'bottom'
      }).addClass('wall')

      lve('wall-left').create({
        type: 'square'
      }).attr('physics', 'static').css({
        width: 50,
        height: 500,
        color: '#ddd',
        left: -475,
      }).addClass('wall wall-change-color')

      lve('wall-right').create({
        type: 'square'
      }).attr('physics', 'static').css({
        width: 50,
        height: 500,
        color: '#ddd',
        left: 475,
      }).addClass('wall wall-change-color')

      lve('wall-top').create({
        type: 'square'
      }).attr('physics', 'static').css({
        width: 1000,
        height: 50,
        color: '#ddd',
        bottom: 450,
      }).addClass('wall wall-change-color')

      lve('square').create({
        type: 'square'
      }).attr('physics', 'dynamic').css({
        width: 50,
        height: 50,
        color: `rgb(${getRandomInt(0, 255)}, ${getRandomInt(0, 255)}, ${getRandomInt(0, 255)})`,
        cursor: 'pointer',
        zIndex: 1,
      }).addClass('square')

      lve('particle').create({
        type: 'particle',
        src: lve.getAsset('/image/flame.png')
      }).follow('square', null).particle({
        interval: 30
      }).addClass('particle')

      lve('text').create({
        type: 'text',
        text: 'Click me!'
      }).css({
        fontSize: 13,
      }).follow('square', {
        left: 0,
        bottom: 60
      })

    })

    lve.on('click', e => {
      e.target.applyForce(getRandomInt(-20000, 20000), getRandomInt(0, 20000)).applyAngularImpulse(getRandomInt(-10,
        10))
    })

    lve.on('contactstart', e => {

      if (e.target.hasClass('wall-change-color') && !e.another.hasClass('particle')) {
        e.target.css('color', 'red')
      }

    })

    lve.on('contactend', e => {

      if (e.target.hasClass('wall-change-color') && !e.another.hasClass('particle')) {
        e.target.css('color', '#ddd')
      }

    })
  </script>
</body>

</html>