<!DOCTYPE HTML>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="/css/common.css">
  <meta charset="utf-8">
  <script type="text/javascript" src="/LveJS.js"></script>
</head>

<body>
  <canvas id="test" width="800" height="450"></canvas>
  <div>
    <button onclick="transformIt()">Transform it</button>
    <button onclick="moveIt()">Move it</button>
  </div>
  <script type="text/javascript">
    function transformIt() {
      lve('image').transition('/image/transition_after.png', 3000, 'linear')
    }

    function moveIt() {

      lve('image').animate({
        left: 300,
        scale: 2,
        rotate: 45
      }, 3000)

    }

    const lve = new LveJS

    lve.init({
      canvas: '#test'
    }).loadAsset([
      '/image/transition_before.png',
      '/image/transition_after.png'
    ]).ready(() => {

      lve('image').create({
        type: 'image',
        src: '/image/transition_before.png'
      }).css({
        height: 400,
        verticalAlign: 'middle'
      })

    })
  </script>
</body>

</html>